/*============================================================================================*/
/* Your custom styles below */
/*============================================================================================*/


/* Register Page */
	.signupLabel, .signUpReg{
                  
	  font-size: 1.1rem;
	  line-height: 0.6;
	  font-weight: bold;
	  /*font-family: "NeoSansArabicBold", NeoSansArabic-Regular;
	}*/

	.signUpIcon{
		    top: 40px !important;
	}
	

	.help-block{
		font-weight: bold;
    	font-size: 15px;
	}
	.inputField{
		font-size: 17px;
	}
/*End Register Page */